.home_body{
    height: 100vh;
    display: flex;
}
.left{
    background-color: rgb(3, 3, 35);
    opacity: 0.9;
    color: white;
    flex: 0.15;
    border-top: 1px solid gray;
}
.right{
    background-color: rgb(3, 3, 35);
    opacity: 0.8;
    color: white;
    flex: 0.85;
    padding: 15px;
}
.left >ul>li{
    text-decoration: none;
    color: white;
    list-style-type: none;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}
.left>ul>li>a{
    color: white;
    text-decoration: none;
    padding: 7px, 35px;
    margin-left: 15px;
}
.home_link{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.home_link:hover{
    background-color: white;
    color: rgb(3, 3, 35);
    padding: 7px 35px;
    transition: 0.25s;
}