{% extends 'app/layout.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'app/home.css' %}">
<div class="home_body">
	<div class="left">
		<ul>
			<li><a class="home_link" href="/home">Home</a></li>
			<li><a class="home_link" href="/watch">Watch</a></li>
			<li><a class="home_link" href="/listen">Listen</a></li>
			<li><a class="home_link" href="/play">Play</a></li>
		</ul>
		<ul>
			<li><a class="home_link" href="/">Search History</a></li>
		</ul>
	</div>
	<div class="right">
		{% block content1 %}
		<h3>Welcome, {{request.session.username}}</h3>
		{% endblock %}
	</div>

</div>

{% endblock %}
