{% extends 'app/layout.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'app/home.css' %}">
<div class="home_body">
	<div class="left">
		<ul>
			<li><a class="home_link" href="/home">Home</a></li>
			<li><a class="home_link" href="#">Watch</a></li>
			<li><a class="home_link" href="#">Listen</a></li>
			<li><a class="home_link" href="#">Play</a></li>
		</ul>
	</div>
	<div class="right">
		<h3>Welcome, {{request.session.username}}</h3>
	</div>

</div>

{% endblock %}
