{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/layout.css' %}">
<body id="body">
    <nav class="navbar">
        <div class="items">
            <div class="left">
                <a class="logo_link" href="/">
                    <h2>BINGEWATCH</h2>
                </a>
            </div>
            <div class="right">
                    <ul>
                        {% if user.is_authenticated %}
                            <li >
                                <a class="link" aria-current="page" href="/home">Home</a>
                            </li>
                            <li >
                                <a class="link" href="{% url 'logout' %}">Logout</a>
                            </li>
                            <li >
                                <a class="link" href="{% url 'edit_profile' %}">Edit Profile</a>
                            </li>
                        {% else %}
                            <li >
                                <a class="link" href="{% url 'login' %}">Login</a>
                            </li>
                            <li >
                                <a class="link" href="{% url 'signup' %}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
            </div>
        </div>
        
    </nav>
    {% block content %}{% endblock %}
</body>
