{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/layout.css' %}">
<body id="body">
    <nav class="navbar">
        <div class="items">
            <div class="left_nav">
                <a class="logo_link" href="/">
                    <h2>Oho</h2>
                </a>
            </div>
            <div class="right_nav">
                    <ul>
                        {% if request.session.username %}
                            <li >
                                <strong><a class="link" href="{% url 'logout' %}">Logout</a></strong>
                            </li>
                        {% else %}
                            <li >
                                <strong><a class="link" href="{% url 'login' %}">Login</a></strong>
                            </li>
                            <li >
                                <strong><a class="link" href="{% url 'signup' %}">Register</a></strong>
                            </li>
                        {% endif %}
                    </ul>
            </div>
        </div>
        
    </nav>
    {% block content %}{% endblock %}
</body>
