{% extends 'app/layout.html' %}


{% block content %}

{% load static %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'app/login.css' %}">
<div class="main_body">
	<div class="iframe">
		</iframe>
	</div>
<div class="login_box"> 
	
	<form method ="POST">
		<h2>Login</h2>
		{% csrf_token %}

	  <div class="login_field">
		
	    <input type="text" placeholder="Enter Username" name = "username">

	  </div>
	  <div class="login_field">

	    <input type="password" placeholder="Enter Password" name="password"> 
	  </div>
	 
	  <div>
	  <button type="submit" class="submit_button"><h3>Login</h3></button>
	  </div>
	</form>

</div>
</div>
{% endblock %}